body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.personal-header {
    background: linear-gradient(to right, #b88d63 65%, #e8cdb3 35%);
    height: 180px; /* ارتفاع ثابت */
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vh;
    margin: 0 auto;
    padding: 0 20px;
}


.profile-image {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 191px;
    object-fit: cover;
    }


.name {
    position: absolute;
    top: 30%;
    left: 47%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: black;
}
.job-name{
    position: absolute;
    font-size: 19px;
    top: 48%;
    left: 44%;
    transform: translate(-50%, -50%);
    color: #e8cdb3;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-text-stroke: 0.2px black;
}
.container {
    display: flex;
}

.left {
    flex: 0 0 30%;
    padding: 20px;
}

.right {
    flex: 0 0 63%;
    padding: 20px;
}

.divider {
    width: 2px;
    background-color: rgb(184, 141, 99);
    position: absolute;
    left: 65%;
    top: 224px;
    height: calc(-294px + 100vh);
}

@media (max-width: 1000px) {
    .name {
        font-size: 20px;
        top: 31%;
        left: 20%;
    }
    .job-name{
        font-size: 17px;
        top: 48%;
        left: 20%;
    }
    .divider {
        height: calc(80vh - 180px);
    }


}